<div class="card" style="20 rem; border-style: solid;">
  <div class="card-body">
    <p class="card-text">
      <%= link_to job.title, job_path(job) %>
    </p>

    <div>
      <!-- corner buttons -->
    </div>
  </div>
</div>
